* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    z-index: 0; 
}

main {
    padding-top: 5%
}

/* NAV BAR - EVERY PAGE */

header {
    width: 100%;
    height: auto;
    padding: 0.5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
}

header a {
    font-size: 25px;
}

.logo {
    display: flex;
}

.logo img {
    height: 50px;
    width: auto;
}

.logo aside {
    display: flex;
    align-items: flex-end;
}

.logo span {
    padding: 0 4px;
    font-size: 25px;
}

header > nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

nav a {
    padding: 14px 7px 0 7px;
    color: #2a2925;
    text-decoration: none;
}

header a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* FOOTER - EVERY PAGE */

footer {
    width: 100%;
    background-color: #3e3d36;
    display: flex;
    padding: 5% 10%;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;  
}

.links nav {
    display: flex;
    flex-direction: column;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    color: white;
}

.social-media-links svg {
    margin: 20px;
    height: 30px;
    width: 30px;
}

.links a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* SEE MORE BUTTON STYLINGS */

.see-more-button {
    padding: 5px;
    border: 2px solid red;
    background: none;
}
.see-more-button-inner {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}


/* HOME PAGE STYLINGS */
/* intro styling */
.circle {
    display: flex;
    justify-content: center;
    height: 60vh;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.intro h1 {
    margin: 30px;
}

.intro p {
    margin: 6%;
    font-size: 1.4rem;
}


/* OUR SERVICE OFFERING STYLING */

.service-offering-home {
    padding: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.service-offering-home picture{
    margin: 20px ;
    height: 90%;
    width: auto;
    overflow: hidden;
    border-radius: 40px;
}

.service-offering-home aside {
    padding: 10px;
}

.service-offering-home h2 {
    padding: 20px 10px;
    font-size: 2rem;
}

.service-offering-home p {
    padding: 10px;
    font-size: 1.3rem;
    text-align: left;
}

.service-offering-home button {
    margin: 20px 10px;
}

/* RESPONSIBLE STRATEGIES SECTION - HOME PAGE */

.responsible-strategies-home {
    margin: 6%;
    display: flex;
    flex-direction: column;
}

.responsible-strategies-home h3 {
    padding: 20px 10px;
    font-size: 2rem;
}

.responsible-strategies-home p {
    padding: 20px 10px;
    font-size: 1.3rem;
}

.responsible-strategies-home picture {
    display: flex;
    justify-content: center;
}

/* PORTFOLIO SECTION - HOME PAGE */

.portfolio-home {
    margin: 6%;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.portfolio-home h4 {
    padding: 20px 10px;
    font-size: 2rem;
}

.portfolio-home p {
    padding: 20px 10px;
    font-size: 1.3rem;
}


/* ABOUT
US
PAGE
STYLINGS */

.about-us-section {
    padding: 0 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-us {
    padding: 6% 3%;
}

.about-us h1 {
    padding: 6% 0;
    font-size: 2rem;
}

.about-us p {
    font-size: 1.3rem;
    padding: 2% 0;
}

.industry-focus {
    padding: 6% 3%;
}

.industry-focus h2 {
    padding: 6% 0;
    font-size: 2rem;
}

.industry-focus p {
    font-size: 1.3rem;
    padding: 2% 0;
}

/* People Stylings */

.people-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.people {
    padding: 2%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.people img {
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.people picture {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.people-section > .people {
    transition: scale 550ms ease, opacity 450ms linear;
}

.people-section:has(.people:hover) .people:not(:hover) {
    scale: 0.8;
    opacity: 0.7;
}

.people:hover {
    cursor: pointer;
}

.people h3 {
    margin: 5px;
    font-size: 1.3rem;
}

.people h4 {
    margin: 8px 5px;
    font-size: 1rem;
}

.people p {
    font-size: 1rem;
    text-align: justify;
    display: none;
}


/* SERVICES
PAGE - 
STYLES */
/* BRAND DEVELOPMENT SECTION */
.brand-development-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 6%;
}

.brand-development-section aside {
    width: 45%;
}

.brand-development-section aside h1{
    font-size: 3rem;
    padding-bottom: 8%;
}

.brand-development-section aside p{
    font-size: 1.3rem;
}

.brand-development-section picture {
    overflow: hidden;
}

.brand-development-section img {
   object-fit: cover;
   width: 500px;
}

/* SERVICES SECTION */

.material-symbols-outlined {
    display: inline-block;
}

.services-section {
    padding: 1% 6%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2em;
}

.service {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.service h2 {
    font-size: 2rem;
    padding: 5% 0;
}

.service p {
    font-size: 1.3rem;
    padding: 5% 0;
}